<div class="row_posters">
    <div *ngFor="let i of imagePath">
        <img [src]="i" class="row_poster">
    </div>
    <img src="assets/small-movie1.jpg" alt="Movie Large" class="row_poster">
    <img src="assets/small-movie2.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie8.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie5.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie6.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie7.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie3.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie2.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie3.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie4.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie5.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie4.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie8.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie1.jpg" alt="Movie Large" class="row_poster">
    <img src="assets/small-movie6.jpg" alt="Movie Large" class="row_poster ">
    <img src="assets/small-movie7.jpg" alt="Movie Large" class="row_poster ">
    
</div>
