<div class="nav" [class.scrolled]="scrolled">
    <div class="nav_left">
        <img src="assets\netflix-logo.png" alt="" class="nav_logo">
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/viewAll">Movies</a>
            </li>
            <li>
                <a routerLink="/viewAll">TV Shows</a>
            </li>
        </ul>
    </div>
    <div class="nav_right">
        <img src="assets\netflix-avatar.png" alt="" class="nav-avatar">
    </div>
    
</div>
